.Commented {

    &-Item {
        position: relative;
        height: 100%;
    }

    &-Grow {
        position: absolute;
        top: 6px;
        left: 6px;
        z-index: 1;
    }

    &-Bubble {
        position: relative;
        top: 3px;
        margin-right: 5px;
    }
}