.Rating {
    display: flex;
    
    &-Score {
        margin-right: 5px;
        padding: 2px 6px;
        font-weight: 700;
        font-size: 11px;
        background-color: var(--color-layout-rate);
        border-radius: 4px;
    }

    &-Percentage {
        padding: 2px 6px;
        font-size: 11px;
        background-color: var(--color-layout-medium);
        border-radius: 4px;

        .StarIcon {
            position: relative;
            top: 1px;
            width: 11px;
            height: 11px;
            margin-right: 3px;
        }
    }
}