@import './../../variables';

.Card { 
    display: block;
    height: 100%;
    text-align: left;
    color: inherit;
    text-decoration: none;
    background-color: var(--color-layout);
    border-radius: 6px;
    cursor: pointer;

    &_size {

        &_small {
            width: 117px;
            background-color: transparent;

            @media(min-width: $screen-l) {
                width: 162px;
            }

            .Card-Thumb {
                height: 175px;
                border-radius: 4px;
                transition: transform 150ms;

                @media(min-width: $screen-l) {
                    height: 243px;
                }
            }
        
            .Card-Thumb:hover {
                transform: translateY(-6px);
            }

            .Card-Content {
                padding-right: 0;
                padding-left: 0;
            }
        }

        &_medium {
            width: calc(((100vw - 386px)/7.5)*1.5 + 5px);
            min-width: 180.5px;
            max-width: 248px;

            .Card-Thumb {
                height: 104px;

                @media(min-width: $screen-l) {
                    height: 140px;
                }
            }
        }

        &_big {
            width: 100%;

            .Card-Thumb {
                height: 184px;

                @media(min-width: $screen-s) {
                    height: 104px;
                }

                @media(min-width: $screen-m) {
                    height: 140px;
                }

                @media(min-width: $screen-l) {
                    height: 210px;
                }
            }

            .Card-Score {
                display: none;
            }
        }

        &_full {
            width: 100%;

            .Card-Thumb {
                height: 184px;

                @media(min-width: $screen-s) {
                    height: 104px;
                }
            }
        }
    }

    &-Thumb {
        position: relative;
        height: 104px;
        background: center no-repeat var(--color-placeholder);
        background-size: cover;
        border-radius: 6px 6px 0 0;
    }  
    
    &-Poster {
        position: absolute;
        right: 10px;
        bottom: -10px;
        width: 100px;
        border-radius: 4px;
    }

    &-Details {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
    }

    &-Content {
        padding: 8px 10px 12px;
        overflow: hidden;
        text-align: left;

        &_view_grid{
            display: flex;
            justify-content: space-between;
        }
    }

    &-Title {
        max-height: 35px;
        margin-bottom: 3px;
        overflow: hidden;
        font-size: 13px;
        color: var(--text-primary);
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }

    &-Subtitle {
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: var(--text-subtitle);
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
    }

    &-Left {
        max-width: calc(100% - 76px);
    }

    &-Right {
        display: flex;
        align-items: flex-end;
        padding-left: 10px;
    }
}

