@import './../../variables';

.Categories {
    margin-bottom: 12px;
    padding-top: 2px;    
    padding-right: 4px;
    padding-left: 16px;

    @media(min-width: $screen-m) {
        padding-left: 32px;
    }

    &-Item {
        display: inline-block;
        padding: 5px 7px;
        font-size: 15px;
        line-height: normal;
        color: var(--text-secondary);
        text-decoration: none;
        white-space: nowrap;
        border-radius: 6px;

        @media (min-width: $screen-s) {
            margin-right: 12px;
            padding: 5px 8px 6px;
            font-size: 16px;
            border-radius: 8px;
        }

        &:hover:not(&_state_active) {
            color: var(--text-primary);
            background-color: var(--color-background-button);
        }

        &_state_active {
            color: var(--text-primary);
            background-color: var(--color-accent);
            border-radius: 6px;
        }
    }
}