@import './../../../variables.scss';
$_: '.TrendDetails';

.TrendDetails {
    position: absolute;
    bottom: 12px;
    z-index: 100;
    padding-left: 10px;
    font-size: 13px;
    line-height: 16px;

    &_variant_second {
        position: static;
        padding-left: 12px;

        #{$_}-Label {
            display: none;
        }

        #{$_}-Title {
            font-size: 14px;
            line-height: 20px;
        }

        #{$_}-Count {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &_wide {
        bottom: 25px;
        padding-left: 16px;

        @media(min-width: $screen-m) {
            top: 210px;
            display: flex;
            align-items: center;
            padding-left: 38px;

            #{$_}-Caption {
                display: none;
            }
        }

        #{$_}-Label {
            display: block;
            margin-bottom: 3px;
        }

        #{$_}-Icon {
            display: block;
            height: 32px;
            margin-bottom: 9px;

            @media(min-width: $screen-m) {
                height: 72px;
            }
        }

        #{$_}-Title {
            font-size: 16px;
            line-height: 20px;

            @media(min-width: $screen-m) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    &-Label {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    &-Icon {
        height: 16px;
        margin-right: 8px;
        color: var(--color-accent-red);
        border-radius: 50%;
    }

    &-Title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    &-Count {
        color: var(--text-gray);

        @media(min-width: $screen-m) {
            font-size: 14px;
            line-height: 20px;
            color: var(--text-primary);
            opacity: .3;
        }
    }
}
