.Story {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.Story:before {
  content: "";
  height: 88px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 34.25%,
    rgba(0, 0, 0, 0.0001) 100%
  );
}

.Story-Media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.Story-Media_type_video {
  z-index: -1;
}

.Story-Media_state_ready {
  z-index: 1;
}

.Story-Close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 26px 16px;
  box-sizing: content-box;
  background: url("assets/close.svg");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.Story-Toggler {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.Story-Toggler_left {
  left: 0;
  right: 50%;
}

.Story-Toggler_right {
  right: 0;
  left: 50%;
}


.Story-Info {
  position: absolute;
  z-index: 10;
  top: 18px;
  left: 12px;
}

.Story-Progress {
  z-index: 10;
  display: flex;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
}

.StoryViewer-Comments {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  z-index: 100;
}