@import './../../variables';

.Tabs {
    display: inline-flex;

    &-Item {
        margin-right: 22px;
        font-weight: 500;
        font-size: 15px;
        line-height: 32px;
        color: var(--text-faded);
        cursor: pointer;

        @media(min-width: $screen-m) {
            font-size: 18px;
        }

        &:last-child {
            margin-right: 0;
        }

        &_state_active {
            color: var(--text-primary);
        }
    }
}