.Header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 16px;
<<<<<<< HEAD
    box-sizing: border-box;
=======
>>>>>>> added search component

    &-Logo {        
        font-size: 28px;
        line-height: 16px;
        font-weight: 300;
    }

    .Ya-Logo {
        font-weight: 500;
    }

    &-Search {
        position: absolute;
        margin-right: 16px;
<<<<<<< HEAD
        right: 0;
=======
        right: 14px;
>>>>>>> added search component
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media(min-width: 440px) {
    .Header {
        justify-content: flex-start;
<<<<<<< HEAD
        height: 66px;
        padding: 14px 16px;
=======
        padding: 12px 16px;
>>>>>>> added search component

        &-Logo {
            margin-right: 16px;
        }

        &-Search {
            position: relative;
            right: initial;
        }
    }
}