@import './../../variables';

.OneTrendPage {

    &_TrendCard {
        top: -17px;
        left: -16px;
        width: calc(100% + 32px);
        height: 180px;

        @media(min-width: $screen-m) {
            left: -38px;
            width: calc(100% + 76px);
        }
    }

    &-Header {
        position: relative;
        margin-bottom: 20px;

        @media(min-width: $screen-s) {
            margin-bottom: 48px;
        }

        .TrendCard-Poster, .TrendCard-Placeholder {
            border-radius: 0;
        }

        .TrendDetails {
            bottom: 25px;
            padding-left: 16px;
    
            @media(min-width: $screen-m) {
                top: 210px;
                display: flex;
                align-items: center;
                padding-left: 38px;
    
                .TrendDetails-Caption {
                    display: none;
                }
            }
        }

        .TrendDetails-Label {
            display: block;
            margin-bottom: 3px;
        }

        .TrendDetails-Icon {
            display: block;
            height: 32px;
            margin-bottom: 9px;

            @media(min-width: $screen-m) {
                height: 72px;
            }
        }

        .TrendDetails-Title {
            font-size: 16px;
            line-height: 20px;

            @media(min-width: $screen-m) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    &-Content {
        margin-top: 20px;

        @media(min-width: $screen-s) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-column-gap: 8px;
        }

        @media(min-width: $screen-m) {
            margin-top: 10px;
            grid-template-columns: 1fr;
        }

        .Card-Content {
            padding: 8px 0 12px;
        }
    }

    &-Promo {

        @media(min-width: $screen-s) {
            display: contents;
        }

        @media(min-width: $screen-m) {
            display: grid;
            grid-column-gap: 8px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &-List {

        @media(min-width: $screen-s) {
            display: contents;
        }

        @media(min-width: $screen-m) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-column-gap: 8px;
        }
    }

    &-Item {
        margin-bottom: 12px;
    }

    &-Stories {
        @media(min-width: $screen-m) {
            display: none;
        }
    }

    &-Title {
        display: none;

        @media(min-width: $screen-m) {
            display: block;
        }
    }
}